<template name="OrdersUpload">
    <div class="ordersupload">
        <div class="row">
            <div class="col-xs-12">
            	<div>
            		<span>Current Order ID: </span><span>{{currentOrderId}}</span>
            	</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="ordersupload-uploadarea">
                        <h3>Upload Area</h3>
                        <div class="ordersupload-uploadform">
                            <input id="ordersupload-uploadcontrol" type="file" name="upload" multiple />
                            <button name="submit" class="btn btn-primary ordersupload-uploadsubmit">Upload</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{#if uploadingFiles}} {{> Loading}} {{/if}}
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
            	<div class="row">
                    {{> OrdersOpen}}
                </div>
            </div>
        </div>

        {{#if orderItemsLoaded}}
            <hr>

            <div>
                <div class="row">
                    <h3>Aantal fotos: <span>{{currentOrderItems 'count'}}</span></h3>
                    {{#each currentOrderItems 'orderItems'}}
                        <div class="col-xs-4">
                            <div class="thumbnail ordersupload-thumbnail">
                                {{> Thumbnail}}
                            </div>
                        </div>
                    {{/each}}
                </div>

                <hr>

                <div class="row">
                    <h3>Actie</h3>
                    <a href="{{pathFor 'orders.configure'}}">
                    	<button class="btn btn-primary ordersupload-configurebutton">Ga verder</button>
                    </a>
                </div>
            </div>
        {{/if}}
    </div>
</template>
