<template name="OrdersConfigure">
    <div class="ordersconfigure">

        <div class="row">

            <div class="col-sm-5 col-sm-offset-1">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="ordersconfigure-itemcontainer thumbnail">
                            {{#each currentOrderItems}}
                                {{> Thumbnail}}
                                {{> ConfiguringThumbnailOverlay}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-sm-offset-1">
                <div class="ordersconfigure-update">
                    <form role="form" class="ordersconfigure-form">
                        <div class="form-group">
                            <label>
                                Aantal:
                                <input class="form-control" type="number" name="quantity" value="{{currentOrderItem 'quantity'}}"/>
                            </label>

                            {{#if isNonTiff}}
                                <label>
                                    Ratio:
                                    <div class="ordersconfigure-ratio">
                                        1.5 / 1
                                    </div>
                                </label>
                            {{/if}}

                            <label>
                                Breedte (cm):
                                <input class="form-control" type="number" name="width" value="{{currentOrderItem 'width'}}"/>
                            </label>

                            <label>
                                Lengte (cm):
                                <input class="form-control" type="number" name="length" value="{{currentOrderItem 'length'}}"/>
                            </label>

                            <label>
                                Papier:
                                <select class="form-control" name="paper">
                                    <option value="disabled" disabled>Kies een papier</option>
                                    {{#each papers}}
                                        <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                Afwerking:
                                <select class="form-control" name="finish">
                                    <option value="disabled" disabled>Kies een Afwerking</option>
                                    {{#each finishes}}
                                        <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                Ophanging:
                                <select class="form-control" name="suspension">
                                    <option value="disabled" disabled>Kies een Ophanging</option>
                                    {{#each suspensions}}
                                        <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                Lamineer:
                                <input type="checkbox" name="laminate" />
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary ordersconfigure-save">Opslaan</button>

                    </form>
                </div>
            </div>

        </div>

        <hr>

        <div class="row">
            <h3>Te configureren: <span>{{orderItemsConfigured 'count' false}}</span></h3>
            {{#each orderItemsConfigured 'orderItems' false}}
                <div class="col-xs-4">
                    <div class="thumbnail ordersconfigure-thumbnail">
                        {{> Thumbnail}}
                        {{> ConfigureThumbnailOverlay}}
                    </div>
                </div>
            {{/each}}
        </div>

        <hr>

        <div class="row">
            <h3>Geconfigureerd: <span>{{orderItemsConfigured 'count' true}}</span></h3>
            {{#each orderItemsConfigured 'orderItems' true}}
                <div class="col-xs-4">
                    <div class="thumbnail ordersconfigure-thumbnail">
                        {{> Thumbnail}}
                        {{> ConfigureThumbnailOverlay}}
                    </div>
                </div>
            {{/each}}
        </div>

        <hr>

        <div class="row">
             <p>Order: <span>{{getOrderId}}</span></p>

            <a href="{{pathFor 'orders.upload' hash=_id}}">
                <button class="btn btn-primary ordersconfigure-confirmbutton">Ga terug</button>
            </a>

            <a href="{{pathFor 'orders.confirm'}}">
                <button class="btn btn-primary ordersconfigure-confirmbutton">Ga verder</button>
            </a>

            <button class="btn btn-warning ordersconfigure-removeorder">Verwijder Order</button>
        </div>
    </div>

</template>
