<template name="OrderItemsNew">
    <form>
        <div class="controls">
            <label>
                Bestand:
                <input name="imageurl" type="text" value="{{imageUrl}}">
            </label>

            <label>
                Opmerkingen:
                <textarea name="remark" id="ordersnew-remark" class="form-control" rows="5"></textarea>
            </label>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Opslaan</button>
    </form>
</template>