<template name="Memberzone">
	<div class="row memberzone">
		<div class="col-sm-4">
			<a class="memberzone-anchor" href="{{pathFor 'orders.new'}}">
				<div class="memberzone-action">
					Nieuwe Bestelling
				</div>
			</a>
		</div>

		<div class="col-sm-4">
			<a class="memberzone-anchor" href="{{pathFor 'orders.cart'}}">
				<div class="memberzone-action">
					Mijn Winkelwagen
				</div>
			</a>
		</div>

		<div class="col-sm-4">
			<a class="memberzone-anchor" href="{{pathFor 'orders.index'}}">
				<div class="memberzone-action">
					Mijn Bestellingen
				</div>
			</a>
		</div>

	</div>
</template>