/*****************************************************************************/
/* MasterLayout: Style */
/*****************************************************************************/

label {
	display: block;
}