<template name="OrdersNew">
    <section class="ordersnew">
        <div class="container">
            <div class="row">
                <div class="board">
                    <div class="board-inner">
                        <ul class="nav nav-tabs">
                            <div class="liner"></div>
                            <li class="active">
                                <div class="ordersnew-title one">UPLOAD</div>
                                <a href="#" data-toggle="tab" title="upload">
                                    <span class="round-tabs one"><i class="glyphicon glyphicon-upload"></i></span>
                                </a>
                            </li>

                            <li>
                                <div class="ordersnew-title two">CONFIGUREER</div>
                                <a href="#" data-toggle="tab" title="configure">
                                    <span class="round-tabs two"><i class="glyphicon glyphicon-wrench"></i></span>
                                </a>
                            </li>
                            <li>
                                <div class="ordersnew-title three">BEVESTIG</div>
                                <a href="#" data-toggle="tab" title="confirm">
                                    <span class="round-tabs three"><i class="glyphicon glyphicon-shopping-cart"></i></span> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div>
                    <div class="ordersnew-uploadarea">
                        <h3>Upload Area</h3>
                        <div class="ordersnew-uploadform">
                            <input id="ordersnew-uploadcontrol" type="file" name="upload" multiple />
                            <button name="submit" class="btn btn-primary ordersnew-uploadsubmit">Upload</button>
                        </div>

                        <br><br>
                        {{#if uploadingFiles}}
                            {{> Loading}}
                        {{/if}}
                    </div>


                    {{#if filesUploaded}}
                        <div>
                            <h3>Aantal fotos: <span>{{numberOfImages}}</span></h3> {{> ImageThumbnails}}
                        </div>

                        <div>
                            <h3>Actie</h3>
                            <button class="ordersnew-configurebutton">Ga verder</button>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </section>


    <!--  <h3>Aantal Fotos in deze Bestelling: <span>{{numberOfImages}}</span></h3>

    <div class="ordersnew-orderitemscontainer">
        <div class="ordersnew-orderitem">
            {{> OrderItemsNew}}
        </div>
    </div> -->
</template>
